@font-face {
    font-family: "miao";
    src: url("miao.eot"); /* IE9 */
    src: url("miao.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("miao.woff") format("woff"), /* chrome、firefox */
    url("miao.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("miao.svg#miao") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


